.products.container {
  padding-top: initial;
}
.products-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: flex-end;
}
.product-card {
  flex: 1;
  min-width: 285px;
}
.card-title {
  color: var(--c3);
  background: var(--c2);
  padding: 2rem;
}
.product-card:nth-child(1) .card-title {
  border-top: 5px solid #6e46c2;
}
.product-card:nth-child(2) .card-title {
  border-top: 5px solid #e7314b;
}
.product-card:nth-child(3) .card-title {
  border-top: 5px solid #6bdcf2;
}
